* {
  margin: 0%;
  padding: 0%;
}



.navbar {
  position: sticky;
  top: 0%;
  background-color: darkturquoise;
  display: flex;
  padding: 15px;
  margin-bottom: 5%;
  justify-content: space-between;
  align-items: center;

}

.home{
  margin-left: 5px;
}

.about {
  margin-left: 5px;
}

.services {
  margin-left: 5px;
}

.contact {
  margin-left: 5px;
}


.navbar-search {
  display: flex;
  justify-content: center;
  margin-left: 10%;



}

.search-btn{
  margin-left: 2px;
}

button {
  border-radius: 20%;
  cursor: pointer;
  display: flex;



}

button:hover {
  background-color: aqua;

}

.login-btn {
  margin-left: 10%;
}


.boxes {
  display: flex;
  margin: 5%;
}


.footer {
  background-color: black;
  color: white;

}

.about {
  margin-top: 50px;
}

.services {
  margin-top: 50px;
}

.sub-footer {
  background-color: darkturquoise;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

/* To remove bullets from list */
.col-2 ul {
  list-style-type: none;
  
}


